*{
	font-family: verdana, sans-serif;
}
html{
	overflow-y: scroll;
}
body{
	background: url("tekstuuri5.jpg");
	color: #1C1C1B;
	height: 100%;
	font-size: 14px;
}
#container{
	min-height: 100%;
	position: relative;
}
h1{
	font-size: 16px;
	color: #446304;
	text-transform: uppercase;
	padding-left: 10px;
}
h2{
	font-size: 16px;
	color: #576E27;
	margin-top: 0px;
}
p{
	font-size: 14px;
	padding-left: 10px;
}
/* navigaatio ja logo */
#navi{
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	height: 60px;
	width: auto;
	background-color: #527A00;
	text-align: center;
	color: white;
	border-bottom: 1px solid #446304;
}
#navi ul{
	list-style-type: none;
	margin: 0;
	margin-left: -47px;
	margin-top: 90px;
	padding: 0;
	border-top: 1px solid #446304;
}
#navi ul li{
	width: 59px;
	display: inline-block;
	padding-top: 0px;
}
#navi li:first-child {
	margin-right: 13px;
}
#navi li:nth-child(2) {
	margin-right: 0px;
}
#navi li:nth-child(3) {
	margin-left: 0px;
	margin-right: 10px;
}
#navi a{
	font-size: 14px;
	padding-top: 20px;
	display: block;
	height: 30px;
	color: white;
	text-decoration: none;
}
#navi a:hover{
	background-color: #527A00;
}
.active{
	text-decoration: underline;
	background-color: #527A00;

}
#logo{
	position: absolute;
	left: 50%;
	right: 50%;
	top: -70px;
	margin-left: -65px;
	z-index: 3;
	
}
#logo img{
	height: 90px;
	
}
/* slideshow */
#slide{
	position:relative;
	z-index: 1;
	margin: auto;
	width: 100%;
}
/* sisältö ja etusivun palstat */
#wrapper{
	margin: auto;
	margin-top: 0px;
	width: 100%;
	padding-bottom: 50px;
	margin-top: 20px;
	border-right: 5px solid rgba(0,0,0,0.0);
}
.vasen{
	float: none;
	width: 100%;
	margin-top: -20px;
	min-height: 160px;
	margin-left: -10px;
	background: rgba(255,255,255,0.55);
	box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
	padding: 10px;
}
.oikea{
	float: none;
	width: 100%;
	min-height: 370px;
	margin-left: -10px;
	background: rgba(255,255,255,0.55);
	padding: 10px;
	box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
	margin-bottom: 60px;
}
.oikea td{
	width: 80px;
}
.oikea table{
	padding-left: 10px;
	padding-bottom: 10px;
}
#someiconit{
	margin-top: 30px;
}
#someiconit img{
	padding-right: 15px;
}
/* footer ja sen sisältö */
footer{
	position: fixed;
   	bottom:0;
    left: 0; 
	width: 100%;
	height: 8px;
	background: #638719;
	padding: 10px;
	padding-top: 25px;
	z-index: 2;
}
footer img{
	margin-bottom: 35px;
	margin-top: -20px;
	width: 130px;
}
/* sisältöboksi kaikilla muilla sivuilla paitsi etusivulla */
#tekstiboxi{
	position: relative;
	min-height: 380px;
	background: rgba(255,255,255,0.45);
	padding: 10px;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
	margin: auto;
	margin-bottom: 50px;
	margin-top: -20px;

}
/* menu */
ul.menulista {
	margin: auto;
	max-width: 700px;
    padding: 0;
    list-style: none;
    padding-bottom: 25px;
}
ul.menulista li:before{
	float: left;
}
ul.menulista span + span {
    float: right;
}
li.nimihinta{
	font-size: 14px;
	font-weight: bold;
	color: #576E27;
}
.juomanimi{
	max-width: 210px;
}
.taytelista{
	font-size: 14px;
	font-style: italic;
	padding-left: 20px;
}
.juomakoko{
	font-style: italic;
	color: #1C1C1B;
	font-size: 14px;
	display: block;
	font-weight: normal;
}
#menuotsikko{
	margin-left: -100px;
	margin-top: 0px;
	margin-bottom: 15px;
}
#menuotsikko img{
	width: 100px;
	margin-left: 50%;
}
.divider{
	border-top: 4px dotted #446304;
	height: 4px;
  	width: 210px;
  	margin: auto;
  	padding-bottom: 20px;
}
#polaroid{
	display: none;
}
#polaroid2{
	display: none;
}
#filleri{
	display: block;
	height: 0px;
}
/* tilauslomake */
#tuotenimi{
	float: none;
	max-width: 200px;
	padding-bottom: 5px;
}
#tuotekpl{
	float: none;
	width: 200px;
}
#pizzahinta{
	float: none;
}
fieldset{
	
	margin-bottom: 10px;
	padding-left: 6px;
	padding-right: 0px;
}
label.numerointi{
	display: inline-block;
	min-width: 20px;
}
label.tilaustiedot{
	display: inline-block;
	width: 85px;

}
input[type="checkbox"]{
	margin-left: 26px;
}
input[type="number"]{
	width: 50px;
}
input[type="text"]{
	margin-bottom: 5px;
}
input[type="email"]{
	margin-bottom: 5px;
}
select{
	min-width: 140px;
}
#lisays{
	margin-left: 25px;
}
.pnro{
	display: inline-block;
	width: 60px;
}
.osoite{
	margin-right: 10px;
}
textarea{
	display: block;
	max-width: 230px;
	height: 110px;
	resize: none;
	margin-top: 5px;

}
.tilausnappi{
	margin-top: 10px;
	cursor:pointer; 
	padding:5px 25px; 
	background:#527A00; 
	border:0px solid #527A00;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;

	-webkit-box-shadow: 0 0 2px rgba(0,0,0, .5);
	-moz-box-shadow: 0 0 2px rgba(0,0,0, .5);
	box-shadow: 0 0 2px rgba(0,0,0, .5);
	color:#f3f3f3;
	font-size:1.1em;
}
.tilausnappi:hover, .tilausnappi:focus{
	background-color: #759533;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .5);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .5);
	box-shadow: 0 0 1px rgba(0,0,0, .5);
}

/*yhteystietosivu*/

.divider2{
	display: none;
	border-right: 4px dotted #446304;
	float: left;
	height: 330px;
	margin-top: 26px;
	margin-left: 5px;
}

#texti{
	float: none;
	width: 100%;
	height: 265px;
	padding: 0px;	
}

.map{
	position: static;
	left: 0px;
	top: 0px;
	margin-top: 100px;
	width: 100%;
}
.aukiolo {
	margin-left: 10px;
}
.vahvistus tr td:nth-child(2) {
	width: 130px;
}
.ostoskori {
	padding-left: 5px;
}