*{
	font-family: verdana, sans-serif;
}
html{
	overflow-y: scroll;
}
body{
	background: url("tekstuuri5.jpg");
	color: #1C1C1B;
	height: 100%;
	font-size: 14px;
}
#push{
	height: 10px;
	position: relative;
	width: 900px;
	margin: auto;
	margin-top: 50px;
}
#container{
	margin: auto;
	width: 900px;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
	margin-bottom: 30px;
	
}
#navi{
	background-color: #527A00;
	margin: auto;
	width: 902px;
	height: 50px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}
#navi img{
	float: left;
	margin-top: 1px;
	padding-left: 7px;
	padding-right: 20px;
}
#navi ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#navi ul li{
	display: inline-block;
	padding: 8px;
	margin-top: 10px;
	text-align: center;
	margin-left: -5px;
}
#navi a{
	font-size: 18px;
	display: block;
	height: 29px;
	color: white;
	padding-top: 5px;
	text-decoration: none;
}
#navi li:hover{
	background-color: #759533;

}
.active{
	background-color: #759533;
}
h1{
	font-size: 20px;
	color: #446304;
	text-transform: uppercase;
	padding-left: 10px;
	margin-top: 0;
}
h2{
	font-size: 18px;
	color: #576E27;
	margin-top: 0px;
}
p{
	font-size: 14px;
	padding-left: 10px;
}
/* sisältöä */
#wrapper{
	margin: auto;
	margin-top: 20px;
	width: 900px;
}
/* sisältöboksi kaikilla muilla sivuilla paitsi etusivulla */
#tekstiboxi{
	position: relative;
	min-height: 400px;
	background: rgba(255,255,255,0.45);
	padding: 15px;
	padding-top: 30px;
	margin: auto;
	margin-top: -20px;

}
/* tilauslomake */
.tuotenimi{
	float: left;
	width: 250px;
}
.tuotehinta{

	float: left;
	width: 130px;
}
.tuotekoko{
	float: left;
	width: 200px;
}
.tuotetyyppi{
	float: left;
}
.taytevalinta{
	margin-bottom: -10px;
}
fieldset{
	border: 1px dashed rgb(185,175,175);
	margin-bottom: 10px;
	padding-left: 20px;
	border: 1px solid rgba(185,175,175,0.6);
	background: -moz-linear-gradient(top, rgba(252,252,252,0.53) 0%, rgba(255,250,245,0.55) 21%, rgba(255,248,241,0.57) 50%, rgba(255,248,241,0.57) 54%, rgba(255,248,241,0.61) 92%, rgba(255,248,241,0.54) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,0.53)), color-stop(21%,rgba(255,250,245,0.55)), color-stop(50%,rgba(255,248,241,0.57)), color-stop(54%,rgba(255,248,241,0.57)), color-stop(92%,rgba(255,248,241,0.61)), color-stop(100%,rgba(255,248,241,0.54))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252,252,252,0.53) 0%,rgba(255,250,245,0.55) 21%,rgba(255,248,241,0.57) 50%,rgba(255,248,241,0.57) 54%,rgba(255,248,241,0.61) 92%,rgba(255,248,241,0.54) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252,252,252,0.53) 0%,rgba(255,250,245,0.55) 21%,rgba(255,248,241,0.57) 50%,rgba(255,248,241,0.57) 54%,rgba(255,248,241,0.61) 92%,rgba(255,248,241,0.54) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(252,252,252,0.53) 0%,rgba(255,250,245,0.55) 21%,rgba(255,248,241,0.57) 50%,rgba(255,248,241,0.57) 54%,rgba(255,248,241,0.61) 92%,rgba(255,248,241,0.54) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(252,252,252,0.53) 0%,rgba(255,250,245,0.55) 21%,rgba(255,248,241,0.57) 50%,rgba(255,248,241,0.57) 54%,rgba(255,248,241,0.61) 92%,rgba(255,248,241,0.54) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87fcfcfc', endColorstr='#8afff8f1',GradientType=0 ); /* IE6-9 */
}
label.asetuslabel{
	display: inline-block;
	width: 180px;
	padding-bottom: 8px;
}
.hintasd{
	width: 60px;
}
input[type="text"]{
	margin-bottom: 8px;
}
select{
	min-width: 160px;
	margin-bottom: 10px;
}
#lisays{
	margin-left: 25px;
}
.tilausnappi{
	margin-top: 0px;
	cursor:pointer; 
	padding:4px 15px; 
	background:#527A00; 
	border:0px solid #527A00;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;

	-webkit-box-shadow: 0 0 2px rgba(0,0,0, .5);
	-moz-box-shadow: 0 0 2px rgba(0,0,0, .5);
	box-shadow: 0 0 2px rgba(0,0,0, .5);
	color:#f3f3f3;
	font-size:1.1em;
}
.tilausnappi:hover, .tilausnappi:focus{
	background-color: #759533;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .5);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .5);
	box-shadow: 0 0 1px rgba(0,0,0, .5);
}
.tilausnappi2{
	margin-top: 5px;
	cursor:pointer; 
	padding:4px 15px; 
	background:#527A00; 
	border:0px solid #527A00;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;

	-webkit-box-shadow: 0 0 2px rgba(0,0,0, .5);
	-moz-box-shadow: 0 0 2px rgba(0,0,0, .5);
	box-shadow: 0 0 2px rgba(0,0,0, .5);
	color:#f3f3f3;
	font-size:1.1em;
}
.tilausnappi2:hover, .tilausnappi2:focus{
	background-color: #759533;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .5);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .5);
	box-shadow: 0 0 1px rgba(0,0,0, .5);
}