* {
	font-family: Verdana;
	background-color: #FFFFFF;
}

body {
	width: 394px;
}

p {
	text-align: center;
}

input {
	background-color: #EEEEEE;
}

img {
	margin-left: 4px;	
}

.submit {
	margin-top: 20px;
}

.pizzat {
	border: 1px;
	border-color: black;
	border-style: solid;
}