*{
	font-family: verdana, sans-serif;
}
html{
	overflow-y: scroll;
}
body{
	background: url("tekstuuri5.jpg");
	color: #1C1C1B;
	height: 100%;
	font-size: 14px;
}
#container{
	min-height: 100%;
	position: relative;
}
h1{
	font-size: 20px;
	color: #446304;
	text-transform: uppercase;
	padding-left: 10px;
}
h2{
	font-size: 18px;
	color: #576E27;
	margin-top: 0px;
}
p{
	font-size: 14px;
	padding-left: 10px;
}
/* navigaatio ja logo */
#navi{
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	height: 100px;
	width: auto;
	background-color: #527A00;
	text-align: center;
	color: white;
}
#navi ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#navi ul li{
	width: 160px;
	display: inline-block;
	padding-top: 0px;
	font-size: 18px;
}
#navi li:nth-child(2) {
	margin-right: 100px;
}
#navi li:nth-child(3) {
	margin-left: 100px;
}
#navi a{
	font-size: 18px;
	padding-top: 40px;
	display: block;
	height: 60px;
	color: white;
	text-decoration: none;
	
}
#navi a:hover{
	background-color: #759533;

}
.active{
	background-color: #759533;
}
#logo{
	position: absolute;
	left: 50%;
	right: 50%;
	top: 0;
	margin-left: -90px;
	z-index: 3;
}
/* slideshow */
#slide{
	position:relative;
	z-index: 1;
	margin: auto;
}
/* sisältö ja etusivun palstat */
#wrapper{
	margin: auto;
	margin-top: 20px;
	width: 900px;
	padding-bottom: 50px;
}
.vasen{
	float: left;
	width: 420px;
	height: 300px;
	background: rgba(255,255,255,0.45);
	box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
	padding: 10px;
}
.oikea{
	float: right;
	width: 420px;
	height: 400px;
	background: rgba(255,255,255,0.45);
	padding: 10px;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
	margin-bottom: 125px;
}
.oikea td{
	width: 80px;
}
.oikea table{
	padding-left: 10px;
}
/* footer ja sen sisältö */
footer{
	position: fixed;
   	bottom:0;
    left: 0; 
	width: 100%;
	height: 30px;
	background: #638719;
	padding: 10px;
	padding-top: 25px;
	z-index: 2;
}
footer img{
	margin-top: -15px;
}
#vasenfooter{
	float: left;
}
#oikeafooter{
	float:right;
	margin-right: 15px;
}
/* sisältöboksi kaikilla muilla sivuilla paitsi etusivulla */
#tekstiboxi{
	min-height: 400px;
	background: rgba(255,255,255,0.45);
	padding: 15px;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
	margin: auto;
	margin-bottom: 50px;
	margin-top: -30px;
}
/* menu */
ul.menulista {
	margin: auto;
	max-width: 700px;
    padding: 0;
    list-style: none;
    padding-bottom: 35px;
}
ul.menulista li:before{
	float: left;
}
ul.menulista span + span {
    float: right;
}
li.nimihinta{
	font-size: 18px;
	font-weight: bold;
	color: #576E27;
}
.taytelista{
	font-style: italic;
	padding-left: 28px;
}
#menuotsikko{
	font-size: 30px;
	width: 300px;
	margin-left: 393px;
	margin-top: 40px;
	margin-bottom: 15px;
}
.divider{
	border-top: 4px dotted #446304;
	height: 4px;
  	width: 150px;
  	margin: auto;
  	padding-bottom: 20px;
}
/* tilauslomake */
#tuotenimi{
	float: left;
	width: 350px;
}
#tuotekpl{
	float: left;
	width: 300px;
}
#pizzahinta{
	float: left;
}
fieldset{
	border: 1px dashed rgb(185,175,175);
	margin-bottom: 10px;
	padding-left: 20px;
}
label.numerointi{
	display: inline-block;
	min-width: 20px;
}
label.tilaustiedot{
	display: inline-block;
	width: 100px;

}
input[type="checkbox"]{
	margin-left: 26px;
}
input[type="number"]{
	width: 50px;
}
input[type="text"]{
	margin-bottom: 5px;
}
input[type="email"]{
	margin-bottom: 5px;
}
select{
	min-width: 160px;
}
#lisays{
	margin-left: 25px;
}
.pnro{
	display: inline-block;
	width: 60px;
}
.osoite{
	margin-right: 20px;
}
textarea{
	display: block;
	width: 400px;
	height: 150px;
	resize: none;
	margin-top: 5px;

}
.tilausnappi{
	margin-top: 10px;
	cursor:pointer; 
	padding:5px 25px; 
	background:#527A00; 
	border:0px solid #527A00;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;

	-webkit-box-shadow: 0 0 2px rgba(0,0,0, .5);
	-moz-box-shadow: 0 0 2px rgba(0,0,0, .5);
	box-shadow: 0 0 2px rgba(0,0,0, .5);
	color:#f3f3f3;
	font-size:1.1em;
}
.tilausnappi:hover, .tilausnappi:focus{
	background-color: #759533;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .5);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .5);
	box-shadow: 0 0 1px rgba(0,0,0, .5);
}