*{
	font-family: arial, sans-serif;
}
body{
	background: url("tekstuuri5.jpg");
	color: #0A0F00;
	height: 100%;
}
#container{
	min-height: 100%;
	position: relative;
}
h1{
	font-size: 24px;
	color: #122D08;
	text-transform: uppercase;
}
p{
	font-size: 16px;
}
#navi{
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	height: 100px;
	width: auto;
	background-color: #527A00;
	text-align: center;
	color: white;
}
#navi ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#navi ul li{
	width: 160px;
	display: inline-block;
	padding-top: 0px;
	font-size: 18px;
}
#navi li:nth-child(2) {
	margin-right: 100px;
}
#navi li:nth-child(3) {
	margin-left: 100px;
}
#navi a{
	padding-top: 40px;
	display: block;
	height: 60px;
	color: white;
	text-decoration: none;
	
}
#navi a:hover{
	background-color: #759533;

}
.active{
	background-color: #759533;
}
#logo{
	position: absolute;
	left: 50%;
	right: 50%;
	top: 0;
	margin-left: -90px;
	z-index: 3;
}
#slide{
	position:relative;
	z-index: 1;
	margin: auto;
}
#wrapper{
	margin: auto;
	margin-top: 20px;
	width: 900px;
	height: 700px;
	padding-bottom: 50px;
}
.vasen{
	float: left;
	width: 420px;
	height: 500px;
	background: rgba(255,255,255,0.3);
	box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
	padding: 10px;
}
.oikea{
	float: right;
	width: 420px;
	height: 200px;
	background: rgba(255,255,255,0.3);
	padding: 10px;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
	margin-bottom: 400px;
}
.oikea td{
	width: 80px;
}
footer{
	position: fixed;
   	bottom:0;
    	left: 0; 
	width: 100%;
	height: 30px;
	background: #638719;
	padding: 10px;
	padding-top: 25px;
	z-index: 2;
}
footer img{
	margin-top: -15px;
}
#vasenfooter{
	float: left;
}
#oikeafooter{
	float:right;
	margin-right: 15px;
}
#tekstiboxi{
	width: 900px;
	min-height: 400px;
	background: rgba(255,255,255,0.3);
	padding: 10px;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
	margin-bottom: 300px;
}
